/* global.css */

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #87ceeb; /* celeste */
  color: white;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

main {
  flex: 1;
  background-color: #f8f9fa; /* gris claro */
  padding: 1rem;
}

footer {
  background-color: #87ceeb; /* celeste */
  color: white;
  padding: 1rem;
  text-align: left;
}
